<script>
    var i=1;
    while(i<=4){
        document.write("<br/>");
        j=1;
        while(j<=i){
            document.write("*");
            j++;
        }
        i++;
    }
    var a=4;
    while(a>=1){
        document.write("<br/>");
        b=1;
        while(b<=a){
            document.write("*");
            b++;
        }
        a--;
    }
</script>